<div class="container">
  <h2>Lista de Usuários</h2>

  <div class="button-group">
    <button class="btn btn-primary" (click)="mostrarOuEsconderFormulario()">Inclusão de Novo Cadastro</button>
    <button class="btn btn-danger">Sair</button>
  </div>

  <app-cadastrar-usuarios (usuarioCadastrado)="atualizarLista($event)" *ngIf="formAberto" ></app-cadastrar-usuarios>
  <table>
    <tbody>
      <tr *ngFor="let usuario of listaUsuarios, let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ usuario.nome }}</td>
        <td>{{ pessoa.telefone }}</td>
        <td>{{ pessoa.email }}</td>
        <td>
          <button class="btn btn-danger" (click)="alteracaoDeCadastro(pessoa.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
