<!-- <div class="container">
  <div class="button-group">
    <button type="button" class="btn btn-primary" (click)="incluirCadastro()">Inclusão de Novo Cadastro</button>
    <button type="button" class="btn btn-secondary" (click)="alterarCadastro()">Alteração de Cadastro</button>
  </div>

  <div class="user-list">
    <div *ngFor="let user of users" class="user-card">
      <div class="user-details">
        <p><strong>{{ user.nome }}</strong></p>
        <p>{{ user.email }}</p>
        <button class="btn btn-action" (click)="editarCadastro(user)">Alterar</button>
      </div>
    </div>
  </div>
</div> -->
