<div class="login-container">
  <div class="login-box">
    <div class="logo">
      <img src="../../../assets/LogoTransparente.png" alt="Sua Logo" />
    </div>
    <form [formGroup]="formulario" (ngSubmit)="fazerLogin()">
      <div class="input-group">
        <label for="email" class="form-label">Usuário</label>
        <input
          #campoInserirUser
          id="email"
          class="form-control"
          formControlName="email"
          type="text"
          placeholder="Digite seu nome de usuário!"
          aria-label="default input example"
          [@shakeAnimation]="formulario.get('email')?.invalid && formulario.get('email')?.touched ? 'invalid' : 'valid'"
        />
        <div class="mensagem__erro-container">
          <div class="mensagem__erro" *ngIf="formulario.get('email')?.errors && formulario.get('email')?.touched">
            Usuário é obrigatório!
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('email')?.errors?.['email'] && formulario.get('email')?.touched">
            Usuário está incorreto!
          </div>
        </div>
      </div>

      <div class="input-group">
        <label for="inputPassword5" class="form-label">Senha</label>
        <input
          type="password"
          id="inputPassword5"
          class="form-control"
          formControlName="senha"
          aria-describedby="passwordHelpBlock"
          placeholder="Digite sua senha!"
          [@shakeAnimation]="formulario.get('senha')?.invalid && formulario.get('senha')?.touched ? 'invalid' : 'valid'"

        />
        <div class="mensagem__erro-container">
          <div class="mensagem__erro" *ngIf="formulario.get('senha')?.errors && formulario.get('senha')?.touched">
            Senha é obrigatória!
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('senha')?.errors?.['minlength'] && formulario.get('senha')?.touched">
            Senha precisa ter no mínimo 8 caracteres!
          </div>
        </div>
      </div>
      <div class="mensagem__erro-container" *ngIf="erroMensagem">
        <div class="mensagem__erro">
          {{ erroMensagem }}
        </div>
      </div>

      <button type="submit" [disabled]="!formulario.valid" [ngClass]="habilitarBotao()">
        ENTRAR
      </button>
    </form>
  </div>
  <div class="login-image">
    <img src="../../../assets/WallpaperPC.png" alt="Imagem de fundo" />
  </div>
</div>
